@font-face {
	font-family: 'Determination mono';
	src: url(DeterminationMonoWebRegular-Z5oq.ttf);
}

@font-face {
	font-family: 'Deltarune';
	src: url(deltarune.ttf);
}

header{
	font-family: 'Deltarune';
	text-align: center;
}

h1:hover{
	animation: dizzy 1s linear infinite normal both;
}

.title-clone{
	display: none;
}

body{
	display: flex;
	flex-direction: column;
	font-family: 'Determination mono';
	background-color: rgb(27, 27, 27);
	color: white;
	min-height: 90vh;
	align-items: center;
	font-size: 1.4rem;
	image-rendering: pixelated;
}

#gameWindow{
	width: 640px;
	height: 480px;
}

.container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap-reverse;
	max-height: 100vh;
}

.setup{
	display: flex;
	flex-direction: column;
	max-width: 440px;
	row-gap: 1rem;
}

.group{
	display: flex;
	flex-direction: row;
}

.input-group{
	display: flex;
	flex-direction: column;
}

/*THIS IS THE NEW STUFF FOR THE CHARA SELECT*/

.setup label {
	margin-bottom: 0.3rem;
}

.character-panel {
	width: 100%;
}

.character-panel .avatar {
	image-rendering: crisp-edges;
	width: 25px;
	margin-right: 0.6rem;
	margin-bottom: 0.4rem;
	transition: transform .1s ease;
}

.character-panel .avatar:hover {
	transform: scale(1.1);
	cursor: pointer;
}

#portrait {
	width: 25px;
	margin-right: 0.6rem;
}

.avatar.selected{
	transform: scale(1.1);
	outline: 3px solid #ffe36e;
}

.selectedChara {
	display: flex;
	flex-direction: column;
	margin: 0.7rem 0;
	justify-content: center;
	align-items: center;
}

.charCredit{
	display: none;
	font-size: 1rem;
}

/*END NEW STYLES*/

details{
	display: flex;
	text-align: center;
	margin-bottom: 1rem;
}

.chat-container{
	margin: 5px;
	
}

input[type="radio"]{
	position: absolute;
	opacity: 0;
}

label:hover{
	cursor: pointer;
}

.window{
	display: none;
	background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(1, 0, 69, 0.5)), url("chat_bg.png");
	margin-bottom: 5px;
	border: 1px dashed rgb(0, 225, 255);
	overflow-y: scroll;
	min-height: 95%;
	max-height:200px;
	width: 220px;
}

.options-window{
	padding-top: 1rem;
}

input:checked + label{
	color: yellow;
}


input:checked[id="chatbutton-music"] ~ .music-window{
	display: block;
}

input:checked[id="chatbutton-chat"] ~ .chat-window{
	display: block;
}

input:checked[id="chatbutton-chat"] ~ .chat-ui{
	display: block;
}

input:checked[id="chatbutton-options"] ~ .options-window{
	display: block;
}

.chat-ui{
	display: none;
}

.window p, .window span{
	background-color: black;
}

.side-bar{
	margin-left:5px;
	max-height: 400px;
	overflow-y: scroll;
}

.button-container{
	text-align: center;
}

#online-list{
	max-width: 400px;
}

footer{
	margin-top: 5rem;
	text-align: center;
	color: gray;
	font-size: 1rem;
}

@keyframes dizzy {
	0%{text-shadow:0px 0px}
	20%{text-shadow:0px 0px 5px}
	40%{text-shadow:0px 0px 10px}
	60%{text-shadow:0px 0px 5px}
	80%{text-shadow:0px 0px 0px}
}