@font-face {
	font-family: 'Determination mono';
	src: url(DeterminationMonoWebRegular-Z5oq.ttf);
}

body{
	display: flex;
	font-family: 'Determination mono';
	background-color: rgb(27, 27, 27);
	color: white;
	min-height: 90vh;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
}

#gameWindow{
	width: 640px;
	height: 480px;
}

.container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap-reverse;
	max-height: 100vh;
}

.setup{
	display: flex;
	flex-direction: column;
	max-width: 440px;
}

/*THIS IS THE NEW STUFF FOR THE CHARA SELECT*/

.setup label {
	margin-bottom: 0.3rem;
}

.character-panel {
	width: 100%;
	margin-top: 1rem;
}

.character-panel .avatar {
	image-rendering: crisp-edges;
	width: 25px;
	margin-right: 0.6rem;
	margin-bottom: 0.4rem;
	transition: transform .1s ease;
}

.character-panel .avatar:hover {
	transform: scale(1.1);
	cursor: pointer;
}

#portrait {
	width: 25px;
	margin-right: 0.6rem;
}

.avatar.selected{
	transform: scale(1.1);
	outline: 3px solid #ffe36e;
}

.selectedChara {
	display: flex;
	flex-direction: column;
	margin: 0.7rem 0;
	justify-content: center;
	align-items: center;
}

.charCredit{
	display: none;
	font-size: 1rem;
}

/*END NEW STYLES*/

.chat-container{
	margin: 5px;
	max-width: 17%;
	background-image: url("chat_bg.png");
}

.chat-window{
	
	margin-bottom: 5px;
	border: 1px dashed rgb(0, 225, 255);
	overflow-y: scroll;
	min-height: 100%;
	max-height:200px;
	max-width: 400px;
	background-color: rgba(0, 0, 0, 0.655);
}

.chat-window p{
	background-color: black;
}

.side-bar{
	margin-left:5px;
	max-height: 400px;
	overflow-y: scroll;
}

.button-container{
	text-align: center;
}

#online-list{
	max-width: 400px;
}